@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;F2937;,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Roboto', sans-serif;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center
}

.header {
  padding: 16px 250px 150px 250px;
  background-color: #1F2937;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.header nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;
}

.header .left-links {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 24px;
  color: #F9FAF8;

  display: flex;
  align-items: center;
}

.header .right-links {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  gap: 20px;
  align-items: center;
}

.header .right-links a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header .content {

  display: flex;
  justify-content: space-between;
}

.header .content .left-content {
  width: 400px;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.header .content .right-content {

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .content .right-content img {

  width: 500px;
  height: auto;
}

.left-content .subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.left-content p {
  font-size: 18px;
  color: #E5E7EB;
}

.left-content button {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 10px 25px;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
}


.information {
  padding: 16px 300px 150px 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.information .text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;

  margin-bottom: 100px;
}

.information .photos {
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.image img {
  width: 200px;
  height: auto;
  border: 5px solid #3882F6;
  border-radius: 10%;
}

.image p {
  max-width: 200px;
  text-align: center;
}

.quote {
  padding: 150px 350px 150px 350px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote .text {
  font-size: 36px;
  font-weight: 400;
}

.quote div {
  align-self: flex-end;

  font-size: 20px;
  font-weight: bolder;
}

.call-to-action {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1000px;
  padding: 40px 100px;
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
}

.call-to-action .left-side {
  color: #E5E7EB;
}

.call-to-action .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.call-to-action button {
  background-color: #3882F6;
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
  padding: 5px 30px 5px 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}